.main {
  display: flex;
  flex-direction: row;

  min-height: calc(100vh - 50px - 45px);

  &__wrapper {
    width: 80%;

    background-color: #efefef;
  }

  &__content {
    width: 90%;
    margin: 0 auto;
  }
}
